@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  color: black;
  background-color: #fff3b2;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.5);
}

h1 {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  flex: 1;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  transition: all 0.3s ease-out;
  color: black;
  display: inline-block;
}

.nav-links li a:hover {
  color: white;
}

button,
a,
li {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

button {
  border: 1px solid #28a745;
  padding: 9px 20px;
  cursor: pointer;
  border-radius: 7px;
  background-color: white;
  color: #28a745;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: #28a745;
  color: white;
}

.search {
  display: inline-block;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 7px;
  margin-right: 10px;
}

.search:focus {
  outline: none;
}
